DATABASE_USER=postgres
DATABASE_PASSWORD=password
DATABASE_PORT=5432
DATABASE_NAME=acebau
DATABASE_URL=postgres://postgres:password@localhost:5433/acebau
ADMIN_EMAIL=
ADMIN_PASSWORD=
API_PORT=8080
WEB_PORT=3001
PUBLIC_URL=http://localhost:3001
API_URL=http://localhost:8080
RUST_LOG=info
